PORT=8000
NODE_ENV=PRODUCTION  # NODE_ENV=PRODUCTION can be DEVELOPMENT or PRODUCTION
COOKIE_EXPIRES_TIME=1h
JWT_SECRET=Nequeqwdqwvdvfd

SMTP_HOST=xxxxxxxx
SMTP_PORT=xxxxxxxx
SMTP_EMAIL=xxxxxxx
SMTP_PASSWORD=xxxxxxxx
SMTP_FROM_NAME=xxxxxxx
SMTP_FROM_EMAIL=xxxxxxxxx
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"
PRISMA_FIELD_ENCRYPTION_KEY=k1.aesgcm256.DbQoar8ZLuUsOHZNyrnjlskInHDYlzF3q6y1KGM7DUM=
